*body{
	padding: 0;
	margin: 0;
}
.page{
	padding: 0;
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	height: 400px;
	border: 1px solid #eee;
}
.title{
	padding: 0;
	text-align: center;
	height: 25px;
	line-height: 25px;
	background: #000;
	color: #fff;
}
.page_info{
	height: 80%;
    background: #fff;
    padding: 0;
    text-align: center;
}
.page_detail{
	padding: 0;
	height: 30px;
	line-height: 30px;
}
.page_detail:nth-child(2n){
	background: #f5f5f5;
}
.page_detail:hover{
	background: #dc7d7d;
	color: #fff;
}