<!DOCTYPE html>
<html lang="zh-CN">
 <head>
    <meta charset="utf-8">
	<title>jquery前端分页展示</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/page.css">
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/spop.min.css">
<body>
	<h3 style="text-align: center;">jquery分页展+筛选条件+查询展示</h3>
	<section class="col-md-12 col-sm-12 col-xl-12 page">
		<select class="col-md-2 col-sm-2 col-xl-12 select" id="select_school"></select>
		<div class="col-md-4 col-sm-4 col-xl-12">
			<input type="text" name="" value="" id="name" class="col-md-6 col-sm-6 col-xl-6">
			<div class="col-md-6 col-sm-6 col-xl-6 query">查询</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xl-12 title"><!--title标题展示--></div>
		<div class="col-md-12 col-sm-12 col-xl-12 page_info"><!--详细数据--></div>
		<div class="order_tatal">
			   	<div class="order_ul"></div>
				<div class="page-data">	
		        <div class="page-left"></div>
	    	</div> 	
		</div>
	</section>
</body>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/spop.min.js"></script>
<script type="text/javascript" src="../js/pager.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</html>